
img
{
    /* 30+30+30 +10(남음) 이미지 한 개당 body너비 30% */
    width: 30%;
    margin: calc(10%/6);
}

nav
{
    font-family: 'Roboto';
    /* 모두 대문자로 전환 */
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    margin-bottom: 1.5em;
    padding: 0em;
}