
/* 576px 핸드폰 세로버전 */
/* 576px~768px 핸드폰 가로버전 */

body
{
    font-family: 'Open Sans',sans-serif;
}

h1
{

    text-align: center;
    font-size: 3em;
}

nav
{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul,li
{
    /* display 속성이 inline으로 지정된 엘리먼트는 전후 줄바꿈 없이
     한 줄에 다른 엘리먼트들과 나란히 배치 */
    display: inline;
    margin: 0;
    padding: 0;
}

ul
{
    border: 2px solid black;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}


/* min-width,700px초과 = 보라색 */
/* and 띄어쓰기 조심 600<x<800 = 보라색 */
/* @media(min-width: 600px) and (max-width: 800px)
{
    h1
    {
        color: purple;
    }
} */

/* 조건문 순서 신경 써야됨 css는 밑에가 우선   */

/* @media(max-width: 800px)
{
    h1
    {
        color: yellow;
    }
@media(max-width: 600px)
{
    h1
    {
        color: orange;
    }
}
@media(max-width: 400px)
{
    h1
    {
        color: red;
    }
} */

/* h1
{
    color: red;
}

@media(min-width: 600px)
{
    h1
    {
        color: orange;
    }
}

@media(min-width: 800px)
{
    h1
    {
        color: yellow;
    }
}

@media(min-width:1000px)
{
    h1
    {
        color: green;
    }
}

/* 오리엔테이션: 가로 */
/* @media(orientation: landscape)
{
    body
    {
        background-color: pink;
    }     
} */ 

@media(max-width: 768px)
{
    h1
    {
        font-size: 3em;
        color: red;
    }
    nav,nav ul
    {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 476px)
{
    h1
    {
        font-size: 2em;
        color: rgb(136, 39, 39);
    }
}