/* Root EMS */

section
{
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}


div
{
    background-color: #e5898b; 
    /* div가 section에 종속 되어있으니깐 부모의 50% 크기로 설정한다. */
    width: 70%;
    height: 20%;
}

#ems h1
{
    font-size: 40px;
    border: 1px solid black;
    line-height: 80px;
}

/* 여백의 em은 요소의 글꼴 크기에 좌우됨 */
/* 2em 부모의 2배 60px */
#ems h2
{
    font-size: 1em;
    margin-left: 1em
}

#ems h3
{
    font-size: 1.5em;
}


#ems p
{
    font-size: 0.7em;
}

#ems article
{
    font-size: 15px
}
/* 문서의 어디에 있든 중첩을 시키든 항상 20px */
/* ul*ul*ul em의 문제점 */
#ems ul
{
    font-size: 1.5em;
}

button
{
    font-size: 1em;
    padding: 0 30px;
    border-radius: 0.5em;
    background-color: #2a9d8f;
    color: white;
}

#rems h2
{
    font-size: 3rem
}
/* root요소의 글꼴 3배 */
#rems h3 
{
    font-size: 3rem
}

#rems ul
{
    font-size: 1.5rem;
}

html
{
    font-size: 10px;
    /* rem을 적용한 부분은 다 줄었음 */
}

/* Em은 부모 요소의 글꼴 크기에 따라 달라지고 */
/* REM은 루트 글꼴 크기가 바뀌지 않는 한 이들도 바뀌지 않는다 */
/* 보통 REM이 작업하기 더 쉽다 */

/* em은 해당 글꼴 크기에 맞춰서 달라지게 해야하는 경우 사용 */