

body
{
    background-color: aliceblue;
}

button
{
    font-size: 30px
}

h1,h2
{
    color:blueviolet
}

/* 고유 id로 만들기 */
#change
{
    background-color: aqua;
}

/* section[class="tag"], section.tag */
/* class를 이용해서 id처럼 쓰기 */
.tag
{
    background-color: tomato;
    font-size: 20px;
}

/* 종속을 이용한 속성 바꾸기 p안에 a*/
p a
{
    color: brown;
}

/* h3다음에 나오는 button의 속성 바꾸기 */
h3+button
{
    color: magenta;
}

footer > a
{
    color: cornflowerblue;
}

/* type이 password만 바꿈 */
input[type="password"]
{
    color:red
}

/* href에 google 단어가 포함돼있는거  */
a[href*=google]
{
    color: magenta;
}

/* 마우스 올리면 색 바뀜 */
.get button:hover
{
    background-color: red;
    color: blue;
}

/* 클릭하면 색 바뀜 */
button:active
{
    background-color: #0ef00a;
}